.category-con {
    border: 1px solid rgba(190, 190, 190, 0.5);
    box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2);
    border-radius: 30px;
    padding: 15px 50px;
    display: flex;
    cursor: pointer;
    justify-content: center;

    h5 {
        color: #474747;
    }
}

@media only screen and (max-width: 960px) {
    .category-con {
        padding: 10px 20px !important;
    }
}
