.homepage-con {

    .category-column {
        display: flex;
        gap: 22px;
    }

    h1 {
        margin: 41px 0 51px 0;
    }

    .items-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media only screen and (max-width: 960px) {
    .items-column {
        grid-template-columns: 1fr !important;
    }
}


@media only screen and (max-width: 650px) {
    .category-column {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
    }
}