.checkout-item-con {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .single-item-con {
        padding: 17px 30px;
        border: 1px solid rgba(190, 190, 190, 0.5) !important;
        box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2);
        border-radius: 30px;
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        align-items: center;

        button {
            border: none;
            background: white;
        }

        h3 {
            margin: 0;
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            color: #474747;
        }

        .product-details-con {
            display: flex;
            align-items: center;

            img {
                width: 80px !important;
                height: 80px !important;
            }

            div {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               padding: 10px 0;
               margin-left: 40px;

               p {
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;        
                color: #474747;
               }
            }
        }

        .product-price-con {
            display: flex;
            justify-content: space-between;

          
            .plus-minus-con {
                display: flex;
                align-items: center;

                h4 {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                    color: #000000;
                    margin: 0 15px;
                }
            }

            .price-con {
                display: flex;
                align-items: center;

                p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                    text-align: right;
                    color: #82828B;
                    margin-right: 50px;
                }
            }
        }
    
    }
}


@media only screen and (max-width: 1000px) {

   
    .product-price-con {
        flex-direction: column;
        height: 80px;
        align-items: end;

        .price-con {
            p {
                margin-right: 20px !important;
            }
        }
    }
}


@media only screen and (max-width: 550px) {
    .single-item-con {
        padding: 15px !important;

        h4 {
            margin: 0 5px !important;
        }

        .product-price-con .price-con p {
            margin-right: 10px !important;
        }
    }
}