.food-item-con {
    border: 1px solid rgba(190, 190, 190, 0.5) !important;
    box-shadow: 5px 5px 20px rgba(181, 181, 181, 0.2);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 25px;
    column-gap: 25px;

    img {
        width: 300px;
        height: 300px;
        object-fit: contain;
    }

    button {
        padding: 0;
        background: white;
        border: none;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            color: #474747;
        }

        .desc-column { 
            display: flex;
            flex-direction: column;      
    
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                margin-top: 17px;
                color: #474747;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 8; /* number of lines to show */
                        line-clamp: 8; 
                -webkit-box-orient: vertical;
            }  
        }
        
        .add-cart-column {
            display: flex;
            height: 40%;
            flex-direction: column;
            justify-content: space-between;

            .quantity-con {
                padding: 5px 20px;
                border-radius: 10px;
                width: 100px;

                p {
                    color: white;
                    text-align: center;
                }
            }

            .more-than-5 {    
                background: rgba(0, 167, 17, 0.5);
                border: 1px solid rgba(0, 202, 20, 0.5);
            }

            .less-than-5 {
                background: rgba(255, 147, 69, 0.8);
                border: 1px solid rgba(255, 148, 70, 0.5);
                box-shadow: 5px 5px 20px rgba(255, 210, 178, 0.5);
            }

            .icons-price-column {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .icons-column {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }
           
        }
    }
}

@media only screen and (max-width: 1200px) {
    img {
        width: 200px !important;
        height: 200px !important;
    }

    .desc-column {
        margin-bottom: 20px;

        p {
            -webkit-line-clamp: 5 !important; /* number of lines to show */
            line-clamp: 5 !important; 
        } 
    }

    .quantity-con {
        margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 850px) {
    img {
        width: 150px !important;
        height: 150px !important;
    }

    .desc-column {
        margin-bottom: 20px;

        p {
            -webkit-line-clamp: 3 !important; /* number of lines to show */
            line-clamp: 3 !important; 
        } 
    }

    .quantity-con {
        margin-bottom: 20px;
    }
  }