.App {
    display: flex;
    padding: 50px;
    
    .column-1 {
        width: 75%;

        .main-content {
            margin-top: 40px;
        }
    }

    .column-2 {
        width: 25%;
        min-width: 300px;
        height: 100%;
    }
}