.App {
    display: flex;
    padding: 102px 124px;
    
    .column-1 {
        flex: 1;

        .main-content {
            margin-top: 40px;
        }
    }

    .column-2 {
        margin-left: 50px;
        width: 20%;
        height: 100%;
    }
}